<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>About — Gunn Apps</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <section class="content">
            <h1>About Gunn Apps</h1>
            <section class="details">
                <p>Gunn Apps was made in 2014. It was designed as Single Sign-on System for apps students built for Gunn. You can view the source code <a href="http://github.com/ankitr/GunnApps">here</a>. Documentation for the API is coming soon; if you have anything you'd like to build in the meanwhile <a href="mailto:me@ankit.io">contact me</a>.</p>
            </section>
        </section>
        <footer>
            <a href="/home">Home</a> • <a href="/about">Info</a> • <a href="/logout">Log Out</a>
        </footer>
    </body>
</html>
