<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Gunn Apps</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <section class="content">
            <h1>Gunn Apps</h1>

            <form method="post" action="/" class="users">

                {% if invalid %}
                <h3>Incorrect email or password.</h3>
                {% elif logged_out %}
                <h3>Successfully logged out.</h3>
                {% elif need_auth %}
                <h3>Please log in.</h3>
                {% endif %}

                <input type="email" name="email" spellcheck="false" value="{{email}}" placeholder="Email Address">
                {% if invalid %}
                <input type="password" name="password" autofocus="autofocus" placeholder="Password">
                {% else %}
                <input type="password" name="password" placeholder="Password">
                {% endif %}
                <div class="centered"><input type="submit" value="Log In"></div>

            </form>

            <div class="centered"><a href="register">Don't have an account?</a></div>
        </section>
    </body>
</html>

