<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Register — Gunn Apps</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <section class="content">
            <h1>Register</h1>

            <form class="register" method="post">
                {% if invalid %}
                <h3>Invalid Registration.</h3>
                {% endif %}
                <p>Create an account with your registration code. If you don't have one, contact Ankit Ranjan.</p>
                <input type="text" name="code" autocomplete="off" placeholder="Registration Code">
                <input type="text" name="name" autocomplete="off" placeholder="Full Name">
                <input type="email" name="email" autocomplete="off" placeholder="Email Address">
                <input type="password" name="password" placeholder="Password">
                <div class="centered"><input type="submit" value="Register"></div>
            </form>

            <div class="centered"><a href="/">Already have an account?</a></div>
        </section>
    </body>
</html>