<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{user.name}} — Gunn Apps</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <section class="content">
            <h1>Welcome, {{user.name.split(' ')[0]}}.</h1>
            <section class="details">
                <p>This is Gunn Apps, a platform to interact with your classmates like never before. Right now, you can't do much, but a whole lot more is on its way.</p>
            </section>
        </section>
        <footer>
            <a href="/">Home</a> • <a href="/about">Info</a> • <a href="/logout">Log Out</a>
        </footer>
    </body>
</html>

